<div class='small-8 large-centered columns'>
  <% @babies.each do |baby| %>

    <%= link_to baby_path(baby) do %>
      <div class='baby-container th'>
        <%= image_tag "#{baby.first_name.downcase}-profile.jpg" %>
        <h2 id='baby-name'><%= baby.full_name %></h2>
      </div>
    <% end %>

  <% end %>
</div>
