.header {
  width: auto;
  border: none;
  margin: 0 0 40px;
  padding: 5px 0 5px 100px;
  background-color: #A6E4F7;
}

body {
  background-color: #EEE;
}

h1#title {
  font-size: 2em;
  color: #FFF;
}

.baby-container {
  display: inline-block;
  margin: 0 20px;
  padding: 18px 12px;
  text-align: center;
  background-color: #FFF;
  border: 1px color #EEE;
}

.baby-profile-img {
  width: 400px;
  height: 400px;
  background-size: cover;
}
