.header {
  width: auto;
  border: none;
  margin: 0 0 40px;
  padding: 40px 0;
  background-color: #A6E4F7;
  height: 200px;
}

h1#title {
  text-align: center;
  font-size: 5em;
}

.babies-container {
  margin: 0 auto;
}

.baby-container {
  display: inline-block;
  margin: 10px 30px 10px 30px;
  text-align: center;
}

.baby-profile-img {
  width: 400px;
  height: 400px;
  background-size: cover;
}

.footer {
  width: auto;
  border: none;
  margin: 40px 0 0;
  padding: 40px 0;
  background-color: #D6F5FF;
  height: 200px;
}
